.contact {
    height: 100vh;
    width: 100%;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

.contact-button {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 23px;
    width: 300px;
    justify-content: center;
    margin-left: 20%;
  }

  .page-title {
    margin-top: 0;

}
