.App {
  font-family: 'Roboto';
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
}

.right-side {
  margin-left: 19%;
  text-align: center;
}

.page-title {
  background-color: blue;
  padding: 16px;
  color: white;
  font-weight: 300;
}